<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>thbExchange.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F57886211F3D4DB700D994BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F57886351F3D4DB800D994BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F57886401F3D4DB800D994BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
